<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af6c714645.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
                <img class="logo" src="./images/logo-mercado-liebre.svg" >
                <div class="buscador">
                    <div class="busqueda"><input type="search" name="busqueda-producto" placeholder="Buscar productos, marcas ..."></div>
                    <button class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="detalle-pagina"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</div>
        </div>
        <br>
        <buttom class="burger-menu"> <i class="fas fa-bars"> </i></buttom>
        <nav class="nav-bar-inf">
        <ul class="menu-izq">
            <li><a href="" class="links">Ofertas</a></li>
            <li><a href="" class="links">Tiendas Oficiales</a></li>
            <li><a href="" class="links">Vender</a></li>
            <li><a href="" class="links">Ayuda</a></li>
            </ul>
        <ul class="menu-der">
            <li><a href="/registro" class="links">Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/login" class="links">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="" class="links">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>
        <br>
    </header>
    <main>
        <img class="banner" src="/images/img-home-banner.jpg">
        <div class="titulares">Basado en tu última visita</div>
        <section class="productos-venta">
            <article class="items-venta">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="contenedor">
                    <i class="fa-solid fa-truck" ></i>
                    <div class="precio"><p>$6.770</p></div>
                    <div class="descuentos"><p>40% off</p></div>
                </div>
                <div class="descripciones"><p>Cafetera Moulinex</p></div>
            </article>
            <article class="items-venta">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="contenedor">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio"><p>$230.000</p></div>
                    <div class="descuentos"><p>20% OFF</p></div>
                </div>
                <div class="descripciones"><p>MacBook Pro 2019</p></div>
            </article>
            <article class="items-venta">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="contenedor">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio"><p>$70.500</p></div>
                    <div class="descuentos"><p>10% OFF</p></div>
                </div>
                <div class="descripciones"><p>Samsung Galaxy S10</p></div>
            </article>
            <article class="items-venta">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="contenedor">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio"><p>$23.200</p></div>
                    <div class="descuentos"><p>5% OFF</p> </div>
                </div>
                <div class="descripciones"><p>SmartTv Samsung 43</p></div>
            </article>
        </section>
            <div class="titulares">Ofertas</div>
                <section class="productos-venta">
            <article class="items-venta">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="contenedor">
                    <i class="fa-solid fa-truck" ></i>
                    <div class="precio"><p>$6.770</p></div>
                    <div class="descuentos"><p>40% off</p></div>
                </div>
                <div class="descripciones"><p>Cafetera Moulinex</p></div>
            </article>
            <article class="items-venta">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="contenedor">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio"><p>$230.000</p></div>
                    <div class="descuentos"><p>20% OFF</p></div>
                </div>
                <div class="descripciones"><p>MacBook Pro 2019</p></div>
            </article>
            <article class="items-venta">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="contenedor">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio"><p>$70.500</p></div>
                    <div class="descuentos"><p>10% OFF</p></div>
                </div>
                <div class="descripciones"><p>Samsung Galaxy S10</p></div>
            </article>
            <article class="items-venta">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="contenedor">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio"><p>$23.200</p></div>
                    <div class="descuentos"><p>5% OFF</p> </div>
                </div>
                <div class="descripciones"><p>SmartTv Samsung 43</p></div>
            </article>
        </section>
    <br>
    </main>
    <footer>
        <br>
        <div class="iconos-footer"><i class="fa-solid fa-credit-card"></i></div>
        <div class="descripciones-footer">Pagá con tarjeta o en efectivo</div>
        <p class="footer-details">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <div class="iconos-footer"><i class="fa-solid fa-gift"></i></div>
        <div class="descripciones-footer">Envío gratis desde los $ 2.500</div>
        <p class="footer-details">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <div class="iconos-footer"><i class="fa-solid fa-user-shield"></i></div>
        <div class="descripciones-footer">Seguridad de principio a fin</div>
        <p class="footer-details">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        <br>
        <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>
    </body>
    </html>
